<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="text-center">Introduction to Ruby</h1>
      <p class="lead">
        Ruby is a dynamic, reflective, object-oriented, general-purpose programming language. It was designed and developed in the mid-1990s by Yukihiro "Matz" Matsumoto in Japan. Ruby is known for its simplicity and productivity, with an elegant syntax that is easy to read and write.
      </p>
      <p>
        One of the key features of Ruby is its focus on developer happiness. Matz designed Ruby with the principle of making programming joyful and fun. This philosophy is reflected in the language's expressiveness and the community's emphasis on human-centric design.
      </p>
      <p>
        Ruby is often used for web development, thanks to popular frameworks like Ruby on Rails. However, it's also utilized in other domains, including automation, scripting, and game development.
      </p>
      <p>
        With its rich ecosystem of libraries and gems, Ruby enables developers to build powerful and scalable applications with ease. Its dynamic nature allows for rapid prototyping and iteration, making it an ideal choice for startups and small teams.
      </p>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-lg-8 text-center">
      <%= link_to "Next", global_variable_ruby_tutorials_path, class: 'btn btn-primary'%>
    </div>
  </div>
</div>