<div id="<%= dom_id(post) %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">
      <strong>Title:</strong> <%= post.title %>
    </h5>
    <p class="card-text">
      <strong>Description:</strong> <%= post.description %>
    </p>
  </div>
</div>

<% if @comments.present? %>
  Comments:
  <%@comments.each do|comment|%>
    <div class="card-body">
    <p class="card-text">
      <strong>Description:</strong> <%= comment.body %>
    </p>
  </div>
  <%end%>
<%end%>
